body {
    font-family: monospace, sans-serif;
}

div.magicBallGame {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.flex-col {
    width: 100%;
    display: flex;
    justify-content: center;
}

figure.magicBall__figure {
    position: relative;
}

img {
    width: 400px;
}

input[type=submit] {
    outline: none;
    border: none;
    background-color: orange;
    width: 200px;
    height: 50px;
    font-size: 20px;
}

span#answer {
    position: absolute;
    left: 50%;
    bottom: 50%;
    font-size: 20px;
    background-color: orange;
    padding: 10px;
    width: 300px;
    transform: translate(-50%,0%);
    text-align: center;
    border-radius: 10px;
    opacity: 0;
    transition: all 1s ease;
}

#answer {
    transition: all 5s ease;
}